/*navbar*/
body{
    margin: -25px;
}

.navbar{
    margin-top: 20px;
    background-color: #292929;
    color: white;
    display: flex;
    flex-direction: row;
    width: 1280x;
    height: 60px;
    margin-bottom: 100px;
}
.navbar a{
    text-decoration: none;
    color:white;
}

.logo{
    margin-left:21px;
}

.zoo_name{
    position: absolute;
    margin-left:175px;
    font-size: 30px;
    align-self: center;
}

.link{
    position: absolute;
    display: flex;
    margin-left: 418px;
}

.link-navbar{
    border: 1px solid black;
    width: 297px;
    height: 58px;
    text-align: center;
    align-content: center;
}

/*présentation du zoo*/

.presentation{
    color: white;
    position: relative;
    background-color: rgb(183,158,158,0.7);
    margin: 100px 150px;
}
.description_img{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.description{
    margin-left: 100px;
}
.img_presentation{
    margin-right: 100px;
}

/*element to do*/

.ele-zoo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px;
    grid-gap: 60px;
    margin: 0 150px;
    text-align: center;
    color: white;
}
.grid-items{
    border: 3px solid black;
}

.habitats{
    grid-column: 1;
    grid-row: 1/ span 2;
    background-color: rgb(70,67,70,0.65);
}

.animaux{
    grid-column: 2;
    grid-row: 1 /span 2;
    background-color: rgb(68,59,59,0.74);
}

.services{
    grid-column: 1/span 2;
    grid-row: 3/ span 4;
    background-color: rgb(59,63,48,0.76);
}

/*avis*/

.avisZoo{
    background-color: rgb(167, 157, 157,0.75);
    margin: 50px 150px;
    text-align: center;
    color: white;
}

.avis{
    background-color: rgb(167, 167, 167);
    display: flex;
    margin: 10px 100px;
    font-size: 30px;
}

.avis .pseudo{
    margin-left: 10%;
}
.avis .avis-text{
    margin-left: 1.5%;
}

.button-title{
    display: flex;
    flex-direction: row;
}

.valid-avis{
    background-color: #325f20;
    margin:50px 200px;
    color: white;
}

.avisTitle{
    margin-left: 40%;
}

.btn-avis{
    margin-left: 40%;
    margin-top: 1%;
    border-radius: 15px;
}

.avisToValid{
    display: flex;
    flex-direction: row;
    margin: 15px 10%;
}
.avisSpace{
    font-size: 50px;
}

.yesButton{
    margin-left:25px;
    font-size: 50px;
}

.noButton{
    font-size: 50px;
}


/*services page*/ 
.servcicesPageTitle{
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}

.allEle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px;
    grid-gap: 100px;
    color: white;
    margin: 0 150px;
}

.grid-ele{
    background-color: rgb(59, 63, 48, 0.75);
}


/*habitats page*/
.allHabitats{
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 100px;
    margin: 50px 250px;

}

.habitat{
    background-color: rgb(163,150,150,0.73);
    padding: 25px 0;
}

.habitatImg{
    border-radius: 50%;
}

/* animaux par habitats*/
.allAnimaux{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 100px 50px;
    color: white;
    margin:0 150px;
}

.icon-50{
    font-size: 50px;
    justify-self: end;
    margin-left: 50px;
}

.presentation_animaux{
    position: absolute;
    z-index: 10;
    background-color: rgb(138,226,107);
    margin-left: 25px;
    margin-bottom: 50px;
    width: 500px;
}



.margin-40{
    margin-left: 40px;
}



.hidden {
    display: none;
}
.visible {
    display: grid;
}


.img-animal{
    border-radius: 50%;
}

.img-presentation-animal{
    margin-left: 75px;
    margin-bottom: 25px;
}

/*connection pages*/

.connectionTitle{
    background-image: url("../img/connectionTitleBackground.jpg");
    margin-top:-100px;
    margin-bottom: 75px;
    padding:75px 0;
    text-align: center;
}

.formType{
    background-color: rgb(73, 133, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 952px;
    height: auto;
    font-size: 30px;
    margin-left: 450px;
    margin-bottom: 100px;
    padding: 25px;
    color: white;
}

.form-champ{
    width: 300px;
    height: 50px;
    color: black;
    margin:25px 0;
}

.margin-100{
    margin-top: 100px;
}

.connectionSubTitle{
    margin: 10px 0px 50px 0; 
}

.btn-form{
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    background-color: rgb(138,226,107);
}

/*contact page */

.titleContact{
    background-image: url("../img/contactTitleBackground.jpg");
    margin-top:-100px;
    margin-bottom: 75px;
    padding:75px 0;
    text-align: center;
    background-position: 50%;
}

.form-textarea{
    width: 300px;
    height: 100px;
}

/*modifier*/
#btn-modif{
    background-color: rgb(138,226,107);
    margin: -75px 0 -75px 200px;
    width: 200px;
    height: 100px;
    border-radius: 50%;
}

/*administration page*/
.title_administration{
    background: url("../img/espaceAdministrationBackground.jpg");
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:-150px;
    width: 100%;
    height: 300px;
    background-position: 50% 25%;
    color: white;
}

.titleAdministrationText{
    background-color: rgb(0, 0, 0, 0.3);
    padding: 8% 41.5%;
    margin-top: -1%;
    font-size: 50px;
}

.radioEmploie{
    display: flex;
    flex-direction: row;
}

.radioEmploie .veterinaire{
    margin-left: 50px;
}

.modifier-title{
    background-image: url("../img/modifierTitleBackground.jpg");
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:-150px;
    width: 100%;
    height: 300px;
    background-position: 50% 25%;
    margin-bottom: 100px;
    color: white;
}


.modifier-title-text{
    text-align: center;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 7.6% 43.5%;
    font-size: 70px;
}

.form-choice{
    display: flex;
    justify-content: center;
    
}

.choice{
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background-color: #325f20;
    color: white;
}

.btn-choice{
    background-color: #1a3a10;
    border: 2px solid black;
    color: white;
}

.ViewRapportVet{
    background-color: rgb(165, 221, 148);
    display: flex;
    flex-direction: row;
    margin: 0 150px;
}

.rapportDate{
    margin: 0 15px;
}

/*Espace Employer*/

.espace-employee-title{
    background-image: url("../img/employeeSpaceTitleBackground.jpg");
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:-100px;
    width: 100%;
    height: 250px;
    background-position: 50%;
    margin-bottom: 100px;
    color: white;
}

.espace-employee-title-text{
    text-align: center;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 250px;
    justify-self: center;
    font-size: 70px;
}

.animauxZoo{
    color: white;
    background-color: #304d25;
    margin: 50px 100px;
}

.animauxEating{
    color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    margin: 50px 150px;
}

.btn-selection{
    width: 150px;
    height: 50px;
}

.animalEat{
    display: flex;
    flex-direction: row;
}
.animalEat label{
    width: 150px;
    height: 75px;
    background-color: rgb(75, 124, 58);
}

.animalEat input{
    width: 50px;
    height: 50px;
    margin-top:25px;
}

/*footer*/

.footer{
    left: 0;
    bottom: 0px;
    margin-bottom: -20px;
    width: 100%;
    background-color: #292929;
    margin-top: 50px;
    color: white;
}
.footer_firstLine{
    display: flex;
}
.schedule{
    background-color: rgba(248, 242, 242, 0.2);
    margin: 10px 150px 10px 150px;
    padding: 10px 20px;
    width: 800px;
    height: 400px;
}
.scheduleLayout{
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
}

.map{
    margin: 10px 0 0 150px;
    background-image: url(../img/zooPlace.jpg);
    background-repeat: no-repeat; 
    width: 800px;
    height: 400px;
}


.copyrightDiv{
    background-color: #1f251d;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 25px;
}

.viewAnimaux{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    margin: 50px 150px;
    color: white;
}

.detailForVet{
    background-color: #499b2b;
    width: 320px;
    height: auto;
    margin: 10px;
}

.margin-10{
    margin: 0 10px;
    margin-top: 10px;
}

.title{
    margin-bottom: 25px;
    font-size: 50px;
    color: white;
}

.sub-title{
    margin: 25px;
    font-size: 40px;
}

