/*navbar*/
body{
    margin: 0;
}

.navbar{
    background-color: #292929;
    color: white;
    display: flex;
    flex-direction: row;
    width: 1280x;
    height: 60px;
}

.logo{
    margin-left:21px;
}

.zoo_name{
    position: absolute;
    margin-left:175px;
    font-size: 30px;
    align-self: center;
}

.link{
    position: absolute;
    display: flex;
    margin-left: 418px;
}

.link-navbar{
    border: 1px solid black;
    width: 297px;
    height: 58px;
    text-align: center;
    align-content: center;
}

/*présentation du zoo*/

.presentation{
    position: relative;
    background-color: rgb(183,158,158,0.5);
    margin: 100px 150px;
}
.description_img{
    display: flex;
    justify-content: space-between;
}
.description{
    margin-left: 100px;
}
.img_presentation{
    margin-right: 100px;
}

/*element to do*/

.ele-zoo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px;
    grid-gap: 60px;
    margin: 0 150px;
    text-align: center;
    color: white;
}
.grid-items{
    border: 3px solid black;
}

.habitats{
    grid-column: 1;
    grid-row: 1/ span 2;
    background-color: rgb(70,67,70,0.65);
}

.animaux{
    grid-column: 2;
    grid-row: 1 /span 2;
    background-color: rgb(68,59,59,0.74);
}

.services{
    grid-column: 1/span 2;
    grid-row: 3/ span 4;
    background-color: rgb(59,63,48,0.76);
}

/*avis*/

.avisZoo{
    background-color: rgb(167, 157, 157,0.75);
    margin: 50px 150px;
    text-align: center;
    color: white;
}

.avis{
    background-color: rgb(167, 167, 167);
    display: flex;
    margin: 50px 100px;
    
}



