{% extends 'base.html.twig' %}

{% block title %}accuil{% endblock %}

{% block content %}
    <div class="presentation">
        <h2 class="text-center">présentation du zoo</h2>
        <div class="description_img">
            <p class="description">description<p>
            <img src="img/imgPrésentation.jpg" width="350px" height="300" class="img_presentation"> 
        </div>
    </div>

{% endblock content %}
