{% extends 'base.html.twig' %}

{% block title %}accuil{% endblock %}
{% block style %} url('img/homeBackground.jpg'){% endblock style %}
{% block content %}
    <section>
        {%if is_granted("ROLE_ADMINISTRATION") %}
            <div class="modifier">
                <button id="btn-modif">Modifier</button>
            </div>
        {% endif %}
        <div class="presentation">
            <h2 class="text-center">présentation du zoo</h2>
            <div class="description_img">
                <p class="description">description<p>
                <img src="img/imgPrésentation.jpg" width="450px" height="400" class="img_presentation"> 
            </div>
        </div>

        <div class="ele-zoo">
            <div class="grid-items habitats">
                <h3 class="living_title">Habitats</h3>
            </div>
            <div class="grid-items animaux">
                <h3 class="animal_title">Animaux</h3>
            </div>
            <div class="grid-items services">
                <h3 class="service_title">Services</h3>
            </div>
        </div> 

        <div class="avisZoo">
            <h3>Les avis du parc</h3>
            <div class="avis">
                <p class="pseudo">Pseudo</p>
                <p class="avis-text">le zoo  est super bien, il offre de chouée momment</p>
            </div>
        </div>

    </section>

{% endblock content %}
